
/* This applies to the body on the page */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: "Roboto";
}

h1 {
  color: red;
  font-size: 3em;
}
.intro {
  color: magenta;
}
h2 {
  color: blue;
}
nav a {
  color: green;
  text-decoration: none;
}
a {
  color: orange;
}
